:root {
  --green: #006747;
  --lightGray: #f2f2f1;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
main {
  width:  100%;
  padding: 1em;
  background-color: var(--lightGray);
  min-height: calc(100vh - 42px);
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
